
.search-container {
    position: relative;
    margin: 20px 0 20px 0;
}

.search-container input{
    background: #2C2250;
    border-radius: 10px;
    border: 0;
    padding: 15px 15px 15px 40px;
    width: 100%;
    color: white;
    outline: none;
}
.search-icon{
    position: absolute;
    left: 5px;
    top: 10px;
}